<div class="container mb-3 mt-1">
    <form action="" id="chat-form">
        <div class="row justify-content-between">
            <div class="col-10 pe-0">
                <input type="text" class="form-control" autocomplete="off" name="prompt" id="message" placeholder="Ask anything here..." required>
            </div>
            <div class="col-2 ps-0 text-end" id="btn-submit">
                <button type="submit" class="btn text-pink px-3 me-1" disabled><i class="fa-regular fs-4 fa-paper-plane"></i></button>
            </div>
        </div>
    </form>
    <div class="w-100 text-center">
        <small class="text-light">Data taken from GPT Open AI chat. Please check again for important information</small>
    </div>
</div>  