<div class="modals-custom d-none" id="modals-custom-alert">
    <div class="modals-body shadow">
        <div class="modals-header text-danger fw-semibold">
            <i class="fa-solid fa-triangle-exclamation fs-4"></i> Peringatan
        </div>
        <div class="modals-content">
            Chat mungkin tidak akan disimpan. Simpan terlebih dahulu?
        </div>
        <div class="modals-footer mt-3 mb-4 me-3">
            <div class="row justify-content-end">
                <div class="col-auto pe-0">
                    <a href="#" class="btn-modals fw-semibold text-decoration-none">Simpan</a>
                </div>
                <div class="col-auto">
                    <a href="#" class="btn-modals fw-semibold text-decoration-none">Tidak perlu</a>
                </div>
            </div>
        </div>
    </div>
</div>