<nav class="navbar fixed-top bg-blur z-2">
    <div class="container">
      <div class="row justify-content-between w-100 position-relative">
        <div class="col-auto">
          <div class="navbar-brand fw-bold text-gradient-pink fs-4" href="#">Your <span class="text-warning">A</span>ss<span class="text-warning">I</span>stant <i class="fa-sharp fs-3 text-warning fa-solid fa-bolt-lightning"></i></div>
        </div>
        <div class="col-auto">
          <a onclick="menu()" class="ham-menu text-warning position-absolute top-50 translate-middle-y">
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
          </a>
        </div>
      </div>
    </div>
</nav>

<div class="position-relative container ms-auto">
  <div class="menu d-none overflow-hidden bg-semidark rounded position-absolute shadow z-3 end-0">
    <a href="#" class="d-block px-5 py-2 text-light text-decoration-none"><i class="fa-solid text-warning fa-plus me-2"></i> New Chat</a>
    <a href="#" class="d-block px-5 py-2 text-light text-decoration-none"><i class="fa-regular text-warning fa-share-from-square me-2"></i> Save Chat</a>
    <a href="#" class="d-block px-5 py-2 text-light text-decoration-none"><i class="fa-solid fa-clock-rotate-left me-2 text-warning"></i> History Chat</a>
  </div>
</div>