body {
    background: linear-gradient(to bottom, #121212, #28222B);
    width: 100%;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

/* navbar */
.text-gradient-pink {
    background:  #BB86FC;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 50;
    transform: translateX(-50);
}

form {
    border-radius: 15px;
    color: #fff;
    background-color: #383838;
    height: 50px;
    width: 100%;
}

.form-control {
    border: none;
    background-color: transparent;
    min-height: 50px;
    max-height: 100px;
    color: #fff;
    padding: 0 25px;
    border-radius: 15px;
}

.form-control::placeholder {
    color: #c5c5c5;
}

.form-control:focus {
    box-shadow: none;
    color: #fff;
    background-color: transparent;
}

.bg-gradient-pink {
    background: linear-gradient(to bottom right, #BB86FC, #66448F);
}

.text-pink {
    color: #E486FC;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
    height: 50px;
}

.text-pink:hover {
    color: #cd75e3;
}


.bg-semidark {
    background-color: #383838;
}

.w-fc {
    width: fit-content;
}

small {
    font-size: 10px;
}

.bg-blur {
    backdrop-filter: blur(10px);
}

.bubble {
    position: relative;
}

.bubble::before {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.bubble:nth-child(odd) {
    border-radius: 20px 0px 20px 20px;
    background-color: #383838;
    margin-left: auto;
}

.bubble:nth-child(even) {
    border-radius: 0px 20px 20px 20px;
    background: #895bc0;
}

.bubble:nth-child(odd) .row {
    justify-content: left;
}

.bubble:nth-child(even) .row {
    justify-content: right;
}

.bubble:nth-child(odd)::before {
    right: -10px;
    border-width: 15px 15px 0 0;
    border-color: transparent #383838 transparent transparent;
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - 15px) 100%);
    transform: rotate(180deg);
}

.bubble:nth-child(even)::before {
    left: -10px;
    background-color: #895bc0;
    border-width: 15px 0 0 15px;
    border-color: transparent transparent transparent #895bc0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15px 100%);
}

i.fa-regular,
i.fa-solid {
    font-size: 15px;
}

#btn-submit .btn {
    border: none;
}

#btn-copy {
    cursor: pointer;
    color: #FFC107;
}

.ham-menu {
    cursor: pointer;
    position: relative;
    text-align: right;
}

a.ham-menu span {
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

a.ham-menu span:nth-child(1) {
    background-color: #FFC107;
    width: 25px;
}

a.ham-menu span:nth-child(2) {
    background-color: #BB86FC;
    width: 20px;
    margin-left: auto;
}

a.ham-menu span:nth-child(3) {
    background-color: #FFC107;
    width: 15px;
    margin-left: auto;
}

a.ham-menu span:nth-child(2),
a.ham-menu span:nth-child(3) {
    margin-top: 5px;
}

a.ham-menu span.active {
    transition: 0.3s ease-in-out;
    width: 25px;
}

a.ham-menu span.active:nth-child(1) {
    transform: rotate(-45deg);
    transform-origin: top right;
}

a.ham-menu span.active:nth-child(2) {
    transform: scale(0);
}

a.ham-menu span.active:nth-child(3) {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.menu > a {
    transition: 0.3s ease-in-out;
}

.menu a:hover {
    background-color: #727272;
}

.btn-copy-clipboard,
.btn-speech {
    cursor: pointer;
}